<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <RainmeterPath>L:\EggyCore\Rainmeter</RainmeterPath>
  <RainmeterSkinPath>%USERPROFILE%\Documents\Rainmeter\Skins</RainmeterSkinPath>
  <FolderBackgroundPath>L:\EggyCore\FolderBackground</FolderBackgroundPath>
  <StartAllBackPath>C:\Program Files\StartAllBack</StartAllBackPath>
  <Start11Path>C:\Program Files (x86)\Stardock\Start11</Start11Path>
</Settings>